#wrapper{

        max-width:900px;
        min-height: 500px;
        display: flex;
        margin: auto;
        color: white;
        font-size: 13px;
        text-align: center;
    }
    

    #left_pannel{

        min-height: 500px;
        background-color: rgb(20, 20, 83);
        flex: 1;
    }

    #profile_image{

        width: 50%;
        border: solid thin white;
        border-radius: 50%;
        margin: 10px;
        text-align: center;
    }

    #left_pannel label{

        width: 100%;
        height: 20px;
        display: block;
        background-color: slategray;
        border-bottom: solid thin #ffffff55;
        cursor: pointer;
        padding: 5px;
        transform: all 1s ease;
    }

    #left_pannel label:hover{

        background-color: rgb(137, 157, 177);
    }

    #left_pannel label img{

        float: right;
        width: 25px;
    }

    #right_pannel{

        min-height: 500px;
        flex: 4;
        text-align: center;
    }

    #header{

        background-color: #485b6c;
        height: 70px;
        font-size: 40px;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #inner_left_pannel{

        background-color: slategray;
        flex: 1;
        min-height: 430px;
    }

    #inner_right_pannel{

        background-color: lightgray;
        flex: 2;
        min-height: 430px;
        transition: all 2s ease;
    }
